<nav class="navbar navbar-dark bg-dark navbar-expand-md px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi Sitio</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
            </ul>
            <div class="d-flex align-items-center">
                {% if user %}
                    <span class="text-white me-3">Hola, {{ user.first_name ?: user.login }}</span>
                    <button data-request="onLogout" class="btn btn-outline-light btn-sm">Cerrar sesión</button>
                {% else %}
                    <a href="/login" class="btn btn-primary btn-sm">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
